*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    font-family: 'calibri';
}

header{
    background: #1f1d42;
    height: 350px;
    background-size: cover; 
    background-repeat: no-repeat;
}

section{
    min-width: 100px;
    margin: auto;
    padding: 30px 0; 
}

section h1{
    font-size: 44px;
}

.contenidoEncabezado{
    text-align: center; 
}

.contenidoEncabezado p{
    font-size: 60px; 
    font-weight: bold;
    margin: len 0; 
}

.contenidoEncabezado a{
    color:white;
    text-decoration: none; 
    background: #83cd2d;
    padding: 10px 30px;
    border-radius: 30px; 
    font-size: 30px; 
    margin: 100px;
}

h2 {
    text-align: center;
    font-size: 2rem;
    padding-top: 50px;
}

.slider-frame {
	width: 1280px;
    height: auto;
	margin:50px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

/*Idiomas*/
.es{
    color: #00a1ff;
}

.en{
    color: #00a1ff;
}

.check{
    position:relative; 
    width:50px;
}

.check:before{
    content: '';
    position: absolute;
    width: 50px;
    height: 25px;
    background: #333;
    border-radius: 25px; 
}

.check:after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 25px; 
    transition: 0.25s; 
    border: 2px solid #333;
    box-sizing: border-box;
}

.check:checked:after{
    left: 25px;
    border: 2px solid #00a1ff;
}

.check:checked:before{
    border: 2px solid #00a1ff;
}